/* Existing styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #32CD32, #FFFF99);
}

.card {
    transition: transform 0.2s;
}

.card-image {
    width: 100%;
    height: auto;
    max-height: 150px; /* Adjust as needed */
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.05);
}

/* Styles for expandable cards */
.expandable-card {
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.expandable-card .card-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.expandable-card:hover .card-content {
    max-height: 150px; /* Adjust as needed */
    opacity: 1;
}

.expandable-card .card-body {
    padding: 20px;
}

.expandable-card .card-content p {
    margin-top: 10px;
    color: #333;
}